// Copyright (c) Microsoft Corporation. All Rights Reserved.
// Licensed under the MIT License.

namespace TodoApp.Data
{
    internal static class Constants
    {
        /// <summary>
        /// The base URI for the Datasync service.
        /// </summary>
        internal static string ServiceUri = "https://APPSERVICENAME.azurewebsites.net";
    }
}
