MicrosoftAzureMobile.framework.zip
MicrosoftAzureMobile.framework/
ZUMOAPPNAME/MicrosoftAzureMobile.framework/
DerivedData
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/project.xcworkspace
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/xcuserdata
iOS_ObjC.zip
