<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MS_TableConnectionString"
      connectionString="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>