MicrosoftAzureMobile.framework.zip
MicrosoftAzureMobile.framework/
iOS_Swift.zip
DerivedData
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/project.xcworkspace/xcuserdata
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/xcuserdata
