WindowsAzureMobileServices.xcodeproj/project.xcworkspace/xcuserdata/
WindowsAzureMobileServices.xcodeproj/xcuserdata/
DerivedData/
build/
*.xccheckout
*.zip
*.framework
*.xccheckout
WindowsAzureMobileServices.framework.zip
WindowsAzureMobileServices.framework
sdk/appledoc/html
sdk/appledoc/docset
xcuserdata/
Build
project.xcworkspace/
Results/
instruments*
ZumoAutomationWithData.js
ZumoAutomationTemplate-*.js
e2etest/Pods
e2etest/Podfile.lock
