# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '30 3 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 30
        days-before-close: 14
        debug-only: true
        enable-statistics: true
        only-labels: 'blocked'
        remove-stale-when-updated: true
        stale-issue-message: 'We have noticed this issue has not been updated within 30 days.  If there is no action on this issue in the next 14 days, we will automatically close it.'
        stale-pr-message: 'We have noticed this PR has not been updated within 30 days.  If there is no action on this PR in the next 14 days, we will automatically close it.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
